.sottotitolo{
    color: red;
}

h3{
    font-size: 180%;
}

.home{
    /* border: 1px solid red; */
    padding-top: 20px;
}

.giacomo-maggiore{
    font-size: 300%;
}

.current-moodboard{
    width: 70%;
    
    /* border: 1px solid green; */
}

.current-moodboard-titolo{
    padding-top: 30px;
}

.current-moodboard-img{
    width: 100%;
    object-fit: contain;
}

.current-moodboard-sequence{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-moodboard-sequence-img{
    width: 15.5%;
    
}