.sub-container-sottotitolo{
    font-size: 250%;
}

.sub-container{
    padding-top: 150px;
}

.music-background{
    background-image: url("/resources/images/music/concerto.jpg");
    background-size:cover;
    

}

.music-background:hover{
    background-image: url("/resources/images/music/vinili.jpg");
    background-size:cover;
}

iframe{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}